---
title: Schedule
permalink: /schedule/index.html
layout: page
---

{% set categoriesById = categories | toObject("id") %}

{% for timeBlock in schedule %}
  {% if timeBlock.sessions | length > 0 %}
    <details class="schd-timeslot">
      <summary class="schd-timeslot-header">
        <span class="schd-time text-outline">{{ timeBlock.time }}</span>
        <span class="schd-title text-outline"">{{ timeBlock.title }}</span>
      </summary>
      <div class="schd-sessions">
        {% for schdSessionEntry in timeBlock.sessions %}
          {% set roomName = schdSessionEntry["room"] %}
          {% set session = sessions | findAttr("url", schdSessionEntry["url"]) %}
          {% if session.list != "ai" %}
            <div class="schd-session">
              {% include 'partials/session-list-entry.njk' %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </details>
  {% else %}
    <div class="schd-timeslot">
      <div class="schd-timeslot-header">
        <span class="schd-time text-outline">{{ timeBlock.time }}</span>
        <span class="schd-title text-outline">{{ timeBlock.title }}</span>
      </div>
    </div>
  {% endif %}
{% endfor %}

{%- css "local" -%}
  {%- include 'css/schedule.css' -%}
{%- endcss -%}
