---
title: Schedule
permalink: /schedule/index.html
layout: base
---

{% set categoriesById = categories | toObject("id") %}

{% for timeBlock in schedule %}
  {% if timeBlock.sessions | length > 0 %}
    <details open class="schd-timeslot">
      <summary class="schd-timeslot-header">
        <span class="schd-time">{{ timeBlock.time }}</span>
        <span class="schd-title">{{ timeBlock.title }}</span>
      </summary>
      <div class="schd-sessions">
        {% for schdSessionEntry in timeBlock.sessions %}
          {% set session = sessions | findAttr("url", schdSessionEntry["url"]) %}
          {% set roomName = schdSessionEntry["room"] %}
          <div class="schd-session">
            {% include 'partials/session-list-entry.njk' %}
          </div>
        {% endfor %}
      </div>
    </details>
  {% else %}
    <div class="schd-timeslot">
      <div class="schd-timeslot-header">
        <span class="schd-time">{{ timeBlock.time }}</span>
        <span class="schd-title">{{ timeBlock.title }}</span>
      </div>
    </div>
  {% endif %}
{% endfor %}

{%- css "local" -%}
  {%- include 'css/schedule.css' -%}
{%- endcss -%}
