.roomName {
    color: var(--color-blue);
    float: right;
}

.schd-timeslot-header {
    color: var(--color-pink-subdued);
    font-family: var(--font-display);
    font-size: var(--size-step-1);
    background: var(--gradient-stripes);
    padding: 15px 30px;
}

.schd-title {
    margin-left: var(--space-s);
}

.schd-sessions {
    display: grid;
    grid-template-columns: 50% 50%;
}

.schd-session {
    margin: 13px 27px;
}

@media (width <= 800px) {
    .schd-sessions {
        display: grid;
        grid-template-columns: 100%;
    }
}
