.roomName {
    --button-bg: var(--color-secondary);
    --button-color: var(--color-gray-100);
    font-size: var(--size-step-s);
}

.stripes {
    border-image-source: linear-gradient(
      235deg,
      var(--color-tertiary) 0 8cqw,
      var(--color-secondary) 0 15cqw,
      var(--color-primary) 0 25cqw
    );
    border-image-width: 4px 0 0 0;
    border-image-repeat: stretch;
    border-image-slice: 4 0 0 0;
    background: linear-gradient(
      235deg,
      var(--color-tertiary) 0 8cqw,
      var(--color-secondary) 0 15cqw,
      var(--color-primary) 0 25cqw,
      #00000000 0
    );
}

.schd-timeslot-header {
    color: var(--color-pink-subdued);
    font-family: var(--font-display);
    font-size: var(--size-step-1);
    padding: var(--space-m) 0;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--color-bg);
}

.schd-timeslot-header .text-outline {
  text-shadow:
    2px 2px 0 var(--color-bg),
    -1px 1px 0 var(--color-bg),
    -1px -1px 0 var(--color-bg),
    1px -1px 0 var(--color-bg),
    0.5px 0.5px 0 var(--color-bg),
    -0.5px 0.5px 0 var(--color-bg),
    -0.5px -0.5px 0 var(--color-bg),
    0.5px -0.5px 0 var(--color-bg),
    0 1px 0 var(--color-bg),
    -1px 0 0 var(--color-bg),
    0 -1px 0 var(--color-bg),
    1px 0 0 var(--color-bg);
}

.schd-title {
    margin-left: var(--space-xs-s);
}

.schd-session {
    --flow-space:var(--space-xs);
}

.schd-sessions {
  padding: var(--space-xs-s);
}
